.input-group-append > .input-group-text {
    height:100%;
    border-left:0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: white;
}

#Password {
    border-right: 0px;
}
#ConfirmPassword {
    border-right: 0px;
}

#notValidMessage {
    position: absolute;
    left: 20%;
}
#alreadyRegistered {
    position: relative;
    float: right;
}
